body {
  font-family: Arial, sans-serif;
  margin: 24px;
  background: #374151;

}

h2 {
  margin-bottom: 24px;
  color: white;
}
.search-bar {
    margin-bottom: 20px;
    display: flex;
    justify-content: flex-end;
}
.search-bar input{
    border-radius: 8px;
    padding: 10px 5px;
}


button {
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  background: #1976d2;
  color: #fff;
  cursor: pointer;
  transition: background 0.2s;
}

button:hover {
  background: #1565c0;
}

.asset-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 16px;
}

.asset-table th, .asset-table td {
    border: #111827 solid 1px;
    color: white;
    padding: 8px;
    text-align: center;
}

.asset-table th {
    background-color: #14b8a6;
    color: white;
}

.modal {
  display: none;
  position: fixed;
  top: 20%;
  left: 35%;
  background: #fff;
  padding: 24px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.2);
  z-index: 1000;
}

.modal h3 {
  margin-top: 0;
}

.modal form label {
  display: block;
  margin-bottom: 8px;
}

.modal button {
  margin-top: 12px;
}