body {
  font-family: Arial, sans-serif;
  margin: 24px;
  background: #374151;

}

h2 {
  margin-bottom: 24px;
  color: white;
}

.search-bar {
    margin-bottom: 20px;
    display: flex;
    justify-content: flex-end;
}
.search-bar input{
    border-radius: 8px;
    padding: 10px 5px;
}


button {
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  background: #1976d2;
  color: #fff;
  cursor: pointer;
  transition: background 0.2s;
}

button:hover {
  background: #1565c0;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 16px;
}

table th, table td {
    border: #111827 solid 1px;
    color: white;
    padding: 8px;
    text-align: center;
}

table th {
    background-color: #14b8a6;
    color: white;
}


